@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
body{
  font-family: 'Raleway', sans-serif;
}

.header .nav-link:hover, .header .nav-link:active, .header .nav-link.active {
  background-color: $dark !important;
  color: $light !important;
}

.header a:hover, .header a:active {
  color: $light;
}

.header{
  z-index: 3000;
}

.home{
  background-image: url(../img/background.jpg);
  height: 100vh;
  background-size: cover;
}

.home .hero{
  position: relative;
  height: 80vh;
}

.hero h1{
  font-size: 4rem !important;
}

.home::before {
  content: "";
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7) !important;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
  height: 100vh;
}



.about {
  padding-top: 100px;
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #0563bb;
  position: relative;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0563bb;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #0563bb;
}

#footer {
  background-color: #F7F8F9;
}

@media (min-width: 576px) {
  #main {
    margin-left: 100px;
  }
}

@media(max-width: 576px) {
  .flex-column{
    flex-direction: row !important;
  }
  #navbar1{
    margin: 1em 0em;
    width: 100%;
    align-items: flex-start !important;
    height: auto !important;
  }
  
  #navbar1 ul{
    margin: auto;
    background-color:rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
}